
.container {
    max-width: 1000px;
    margin: 0 auto; /* Center the container horizontally */
  }

.text {
    max-width: 500px;
    word-wrap: break-word; /* Break words across multiple lines */
    word-break: break-all; /* Break words at any character */
  }
  
body {
    background-color: #ddccde
}

* {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  }
