
.container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container horizontally */
  }

.text {
    max-width: 500px;
    word-wrap: break-word; /* Break words across multiple lines */
    word-break: break-all; /* Break words at any character */
  }
  
body {
    background-color: #e8f4f0
}

* {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  }
table, th, td {
    border:1px solid black;
  }

.svg-tooltip {
    background: rgba(69, 77, 93, .9);
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
  }

  div {
    display: block;
    max-width:100%
  }
  
  iframe {
    border: none;
  }